.title {
  padding-top: 100px;
  margin-bottom: 50px;

  @media (max-width: $bp-md) {
    padding-top: 40px;
    margin-bottom: 32px;
  }
}

.grid {
  @extend %movie-grid;
  margin-bottom: $space-sm;
}
